.center {
    text-align: center;
    margin: auto;
    width: 50%;
    border: 2px solid yellow;
    padding: 10px;
    align-content:center;
}

#center > * {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
}

.info-boxes {
    border: 2px solid blue;
}

.optional-box{
    border: 2px solid red;
}