<div class = "center" id = "center"> 
    
    <OutputOne
        @otherLoc = {{this.otherLocation}}
    >
    </OutputOne>

    <OutputTwo
        @otherLoc = {{this.otherLocation}}
    >
    </OutputTwo>

    <!-- Optional isn't working. This was more of an experiment with
    other dependencies and add-ons. Not really a part of the assignment-->
    <Optional
        @location={{this.otherLocation}}
    >
    </Optional>
    
</div>
