{{page-title "The Date App Assignment"}}
<header>
    <div class="header">
        <h1><i class="far fa-clock"></i> The Date Time Assignment</h1>
        
    </div>
</header>
<main>
    <SimpleDateTime />
</main>


{{outlet}}